/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.section-title {
    flex: 1;
    text-align: left;
}

.section-title h1 {
    margin: 0;
    font-size: 2em;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-section {
    width: 90%;
}

.right-section {
    width: 50%;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.search-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.results-table th, .results-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}

.result-item {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px dashed #ccc;
}

.result-item:hover {
    background: #f2f2f2;
}

.selected-content {
    background: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para mejor legibilidad */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    position: relative;
    color: #fff; /* Cambiar color del texto a blanco para contrastar con el fondo */
    text-shadow: 1px 1px 2px #000; /* Añadir sombra al texto para mejorar la legibilidad */
}

.selected-content .info {
    flex: 2;
}

.selected-content .poster {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Posicionar el poster en la parte superior derecha */
    align-items: flex-start;
}

.selected-content .info-table {
    width: 100%;
    border-collapse: collapse;
}

.selected-content .info-table td {
    padding: 10px 15px; /* Aumentar el padding para mayor espacio */
    vertical-align: top;
    font-size: 1.2em; /* Aumentar el tamaño del texto y hacerlo uniforme */
}

.selected-content .info-table td:first-child {
    width: 150px; /* Ancho de la columna de etiquetas */
    font-weight: bold;
}

.selected-content .info-table td:last-child {
    width: auto;
}

.selected-content .info-table strong {
    font-weight: bold;
}

/* Estilos para Director */
.director-info {
    display: flex;
    flex-direction: column; /* Apilar verticalmente */
    align-items: left; /* Centrar horizontalmente */
    gap: 5px; /* Espacio entre imagen y texto */
    padding-bottom: 15px; /* Espacio debajo de la sección del Director */
}

.director-info img {
    max-width: 70px; /* Limita el ancho máximo a 70px */
    width: 100%;      /* La imagen ocupará el 100% del contenedor hasta el max-width */
    height: auto;
    border-radius: 5px;
}

/* Añade estos estilos en tu style.css */

.auth-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-container .form-group {
    margin-bottom: 15px;
}

.auth-container label {
    display: block;
    margin-bottom: 5px;
}

.auth-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.director-info span {
    /* Eliminado font-size individual para uniformidad */
    font-weight: bold; /* Opcional: Hace el texto más destacado */
}

/* Mantener los estilos actuales para Reparto */
.cast-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cast-info .actor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}

.cast-info .actor-info img {
    max-width: 70px; /* Limita el ancho máximo a 70px */
    width: 100%;      /* La imagen ocupará el 100% del contenedor hasta el max-width */
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.cast-info .actor-info span {
    /* Eliminado font-size individual para uniformidad */
    font-weight: bold; /* Opcional: Hace el texto más destacado */
}

.solicitud-container {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#tablaSolicitudes {
    width: 100%;
    border-collapse: collapse;
    /* Remover imagen de fondo aquí */
}

#tablaSolicitudes th, #tablaSolicitudes td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para cada celda */
    font-size: 1.2em; /* Aumentar el tamaño del texto y hacerlo uniforme */
}

#tablaSolicitudes th {
    background-color: rgba(242, 242, 242, 0.9);
}

#tablaSolicitudes img {
    width: 50px;
    max-width: 50px; /* Asegurar que no sea demasiado grande */
    border-radius: 5px;
}

.logo-es {
    width: 300px; /* Redimensionar el logo en castellano o inglés */
    height: auto;
    margin-bottom: 10px;
}

/* Estilos de la Tabla */
.commands-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px 20px; /* Espacio entre columnas y filas */
}

.commands-table th, .commands-table td {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para las celdas */
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.commands-table th {
    background-color: rgba(85, 85, 85, 0.9); /* Fondo oscuro para los encabezados */
    color: #fff;
    font-size: 1.2em;
    text-align: center; /* Centrando el texto de los encabezados */
}

.commands-table td {
    color: #333;
    font-size: 1em;
}

/* Emoticons en la columna de Comando */
.command-icon {
    font-size: 1.5em;
    margin-right: 10px;
}

/* Botones en la columna de Ejemplo */
.example-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.example-button:hover {
    background-color: #555;
}

/* Responsividad */
@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    
    .header {
        flex-direction: column;
        align-items: center; /* Centrar elementos */
    }   
    
    .left-section, .right-section {
        width: 90%;
    }
    
    .right-section {
        margin-top: 20px;
        order: 2; /* Asegurar que aparezca al final */
    }
    
    .selected-content {
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7); /* Aumentar la opacidad en móviles */
    }
    
    .selected-content .poster {
        width: 70%;
        flex: 1;
        display: flex;
        justify-content: flex-end; /* Posicionar el poster en la parte superior derecha */
        align-items: flex-start;
    }
    
    .selected-content .info-table td:first-child {
        width: 100px; /* Ajustar el ancho de las etiquetas en móviles */
    }
    
    .selected-content .director-info {
        flex-direction: column; /* Asegurar columna en móviles */
        align-items: center;
        padding-bottom: 5px; /* Espacio debajo de la sección del Director en móviles */
    }
    
    .selected-content .director-info img {
        margin-bottom: 5px;
        width: 40px; /* Ajustar tamaño del logo en móviles */
    }
    
    .cast-info .actor-info img {
        max-width: 40px; /* Ajustar tamaño de las imágenes de reparto en móviles */
    }
    
    .cast-info .actor-info span {
        font-size: 1em; /* Ajustar tamaño del texto en móviles */
    }
    
    .selected-content .info-table td {
        font-size: 1em; /* Ajustar tamaño del texto en móviles */
    }
    
    .logo {
        height: 100px; /* Tamaño más pequeño del logo */
    }
    
    .social-icons img {
        width: 35px;
        height: 35px;
    }
}

/* Ajustes adicionales para dispositivos muy pequeños */
@media (max-width: 480px) {
    .main-container {
        flex-direction: column;
    }
    
    .left-section, .right-section {
        width: 90%;
    }
    
    .right-section {
        margin-top: 20px;
        order: 2; /* Asegurar que aparezca al final */
    }
    
    .header {
        flex-direction: column;
        align-items: center; /* Centrar elementos */
    }
    
    .selected-content {
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7); /* Aumentar la opacidad en móviles */
    }
    
    .selected-content .poster {
        width: 50%;
        flex: 1;
        display: flex;
        justify-content: flex-end; /* Posicionar el poster en la parte superior derecha */
        align-items: flex-start;
    }
    
    .selected-content .info-table td:first-child {
        width: 90px; /* Ajustar el ancho de las etiquetas en móviles */
    }
    
    .selected-content .director-info {
        flex-direction: column; /* Asegurar columna en móviles */
        align-items: center;
        padding-bottom: 10px; /* Espacio debajo de la sección del Director en móviles */
    }
    
    .selected-content .director-info img {
        margin-bottom: 5px;
        width: 35px; /* Ajustar tamaño del logo en móviles */
    }
    
    .cast-info .actor-info img {
        max-width: 35px; /* Ajustar tamaño de las imágenes de reparto en móviles */
    }
    
    .cast-info .actor-info span {
        font-size: 1em; /* Ajustar tamaño del texto en móviles */
    }
    
    .selected-content .info-table td {
        font-size: 1em; /* Ajustar tamaño del texto en móviles */
    }
    
    .logo {
        height: 100px; /* Tamaño más pequeño del logo */
    }
    
    .social-icons img {
        width: 35px;
        height: 35px;
    }
}

/* Espaciado entre Columnas y Filas en la Tabla */
@media (max-width: 768px) {
    .commands-table {
        border-spacing: 10px 15px; /* Reducir espacio entre columnas y filas */
    }
}

@media (max-width: 480px) {
    .commands-table {
        border-spacing: 8px 10px; /* Reducir aún más espacio en pantallas muy pequeñas */
    }
}

/* Reducción del tamaño de los Emojis en Pantallas Pequeñas */
@media (max-width: 480px) {
    .command-icon {
        font-size: 1em; /* Reducir tamaño de los emojis */
    }
}
